<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleImageName</key>
		<string>public_cocoaChina</string>
		<key>name</key>
		<string>CocoaChina</string>
		<key>word</key>
		<string>C</string>
	</dict>
	<dict>
		<key>titleImageName</key>
		<string>public_apple</string>
		<key>name</key>
		<string>iOS博文精选</string>
		<key>word</key>
		<string>I</string>
	</dict>
	<dict>
		<key>titleImageName</key>
		<string>public_ios9</string>
		<key>name</key>
		<string>iOS开发</string>
		<key>word</key>
		<string>I</string>
	</dict>
	<dict>
		<key>titleImageName</key>
		<string>public_weex</string>
		<key>name</key>
		<string>WEEX测试</string>
		<key>word</key>
		<string>T</string>
	</dict>
	<dict>
		<key>titleImageName</key>
		<string>public_umeng</string>
		<key>name</key>
		<string>友盟</string>
		<key>word</key>
		<string>U</string>
	</dict>
	<dict>
		<key>titleImageName</key>
		<string>public_tencent</string>
		<key>name</key>
		<string>微信团队</string>
		<key>word</key>
		<string>W</string>
	</dict>
	<dict>
		<key>titleImageName</key>
		<string>public_xcode</string>
		<key>name</key>
		<string>Xcode</string>
		<key>word</key>
		<string>X</string>
	</dict>
	<dict>
		<key>titleImageName</key>
		<string>public_clock</string>
		<key>name</key>
		<string>语音提醒</string>
		<key>word</key>
		<string>Y</string>
	</dict>
</array>
</plist>
